PORT=5005
MONGO_URI=mongodb://localhost:27017/order-service
JWT_SECRET=your_super_secret_key_here
REGISTRY_URL=http://localhost:5000
SERVICE_URL=http://localhost:5005
SERVICE_SECRET=your_internal_service_secret
FRONTEND_URL=http://localhost:5173
LOG_LEVEL=info